APP_NAME="asisstant-doctor"
APP_VERSION="0.1"

# ========================= File Config =========================
FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

# ========================= MongoDB Config =========================
MONGODB_URL=""
MONGODB_DATABASE="asisstant_doctor"

# ========================= LLM Config =========================
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="OLLAMA"



Ollama
OLLAMA_API_KEY=""
OLLAMA_API_URL=""
#Groq
GROQ_API_KEY=""
HUGGINGFACE_API_KEY=""



OPENAI_API_KEY=""
OPENAI_API_URL=""
COHERE_API_KEY=""

# Model Config
GENERATION_MODEL_ID="gemma4:31b"
# EMBEDDING_MODEL_ID="locusai/all-minilm-l6-v2"
# EMBEDDING_MODEL_ID="nomic-embed-text:latest"
EMBEDDING_MODEL_ID="embeddinggemma"
EMBEDDING_MODEL_SIZE=768


INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.6

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
# ========================= Template Configs =========================
PRIMARY_LANG = "ar"
DEFAULT_LANG = "en"

